.video {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    object-fit: cover;
    z-index: -1;
    filter: brightness(35%);
}

.container {
    overflow: hidden;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding-right: 20%;
}

.leftBar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;

}

.navContent{
    display: flex;
    flex-direction: column;
    font-size: 33px;
    height: 65%;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    color: white;
}

.titleC{
    overflow: hidden;
    position: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: auto;
    width: 100%;
    margin-top: 8%;

}

.titleCH1{
    font-size: 60px;
    text-decoration: underline;
    text-underline-offset: 25px;

}

.titleCH2{
    font-size: 40px;
    text-decoration: none;

}

.line {
    display: inline-block;
    position: relative;
    color:
            white;
}

.line:after {
    content: ''; /* Add content after the elemExpériences

ent */
    position: absolute; /* Position absolute for pseudo-element */
    width: 53%; /* Full width */
    transform: scaleX(0); /* Initial scale of 0 for underline effect */
    height: 2px; /* Height of the underline */
    bottom: 0; /* Align to bottom */
    left: 0; /* Align to left */
    background-color:
            white; /* Background color of the underline */
    transform-origin: bottom right; /* Set transform origin */
    transition: transform 0.25s ease-out; /* Transition effect for the underline */
}

.lines:after{
    width: 85px; /* Full width */
}

.line3:after{
    width: 370px;
}

.line:hover:after {
    transform: scaleX(1); /* Scale the underline on hover */
    transform-origin: bottom left; /* Set transform origin */
}

.line:hover {
    cursor: pointer;

}