.next,
.prev {
    top: calc(50% - 20px);
    position: absolute;
    background: white;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    z-index: 2;
}

.next {
    right: 10px;
}

.prev {
    left: 10px;
    transform: scale(-1);
}

.nameFooter::after{
    content: " ";
    position: absolute;
    top: 120px;
    margin: 0 30%;
    background-color: white;
    height: 200px;
    width: 2px;
}

.contentFooter::after{
    content: " ";
    display: block;
    margin-top: 5px;
    position: absolute;
    height: 2px;
    width: 150px;
    background-color: white;
}

@media (max-width: 1680px) {
    .nameFooter::after{
        margin: 0 23%;
    }

}